
<div class="container">
    <!-- No data message -->
    <p *ngIf="Sale.length <= 0" class="no-data text-center">There is no Customer added yet!</p>
  
    <!-- Employee list -->
    <table width="100%"  align="center" class="table table-hover table-striped text-center justify-content-center" *ngIf="Sale.length > 0">
      <thead style="background-color: rgb(14, 98, 255); border-color: rgb(241, 241, 241);" class="table-success">
        <tr >
          <th style="border-color: rgb(241, 241, 241);" scope="col">Sale ID</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Customer ID</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Product Id</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Name</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Units</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Precio Total</th>
          <th style="border-color: rgb(241, 241, 241);" scope="col">Peso Total</th>
        </tr>
      </thead>
      <tbody style="background-color: rgb(241, 241, 241); border-color: rgb(241, 241, 241);" align="center" class="table table-hover table-striped text-center justify-content-center">
        <tr *ngFor="let sale of Sale; let i = index">
          <th scope="row">{{sale.SaleID}}</th>
          <td>{{sale.CustomerId}}</td>
          <td>{{sale.ProductId}}</td>
          <td>{{sale.Name}}</td>
          <td>{{sale.Units}}</td>
          <td>{{sale.PrecioTotal}}</td>
          <td>{{sale.PesoTotal}}</td>
          <td class="text-center edit-block">
            <br><br>
          </td>
        </tr>
      </tbody>
    </table>
   